shortlong2_16782/LOGFILE
shortlong2_16782/outputAuto.xml
shortlong2_16782/savestates/*
surtrac_test/Plots/*
surtrac_test/delaydata/*
surtrac_test/trainingdata/*
surtrac_test/imitate.log
surtrac_test/lastRNGstate.pickle
surtrac_test/outputAuto.xml
surtrac_test/models/*
surtrac_test/trainingdata/*
surtrac_test/imitate.log
surtrac_test/savestates/*
shortlong2_16782/additional_autogen.xml
shortlong2_16782/LOGFILE
shortlong2_16782/outputAuto.xml
surtrac_test/.DS_Store
surtrac_test/__pycache__/Net.cpython-39.pyc
surtrac_test/additional_autogen.xml
*.pyc
surtrac_test/LOGFILE
surtrac_test/lastRNGstate.pickle
*.lprof
*.pyc
surtrac_test/intersectiondata/*
/surtrac_test/edgedata
/surtrac_test/lanedata
surtrac_test/outputAuto.xml
